*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height-step: 10px;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Nunito', sans-serif;
}


.result-wrapper {
  text-align: center;
}

.score-section {
  background-color: #ffffff;
  border-left: 2px solid #8686f3; 
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: 0 1vw 0.5rem rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;
}

.result-flex {
  display: flex;
  justify-content: space-between;
  gap: 0rem;
}

.result-details {
  font-size: 1.3rem;
  font-weight: normal;
  color: #24363d;
  line-height: 1.3rem;
}
.result-number {
  font-size: 1.3rem;
  font-weight: bold;
  color: #353333;
  line-height: 1.2rem;
}
.result-score {
  color: #2196f3; /* Blue */
}

.result-buttons {
  text-align: center;
}

.result-play,
.result-home {
  border: 2px solid #7676d6; 
  color: #7676d6;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 2.5vw;
}

.result-play:hover,
.result-home:hover {
  background-color: #7676d6; 
  color: #ffffff;
}
